<footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/properties" class="text-white">Properties</a></li>
                    <li><a href="/mortgage" class="text-white">Mortgage Calculator</a></li>
                    <li><a href="/contact" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Your trusted real estate partner.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: info@realestatepro.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
        </div>
        <hr>
        <p>&copy; 2026 Real Estate Pro. All rights reserved.</p>
    </div>
</footer>